
<div class="admin">
    <img width="150px" height="150px" src="https://i.pinimg.com/originals/7d/f2/6f/7df26fa959d20fa16bf8223205cd949b.gif" alt="">
    <h1>Admin</h1>
    <p>admin@gmail.com</p>
</div>
<mat-divider></mat-divider>
<div class="pages">
    <h3>Pages</h3>
    <a routerLink="">Dashboard</a>
    <a routerLink="gallery">Gallery</a>
    <a routerLink="employee">Employee</a>
</div>
<mat-divider></mat-divider>
<div class="tools">
    <h3>Tools</h3>
    <a routerLink="add">
        <mat-icon>person_add</mat-icon>
        Add Employee</a>
    <a routerLink="lead">
        <mat-icon>person</mat-icon>
        Leads</a>
   
</div>