<!-- cards -->
<div id="cards">
    <mat-card>
        <app-card
        bg="red"
        icon="import_contacts"
        content="Admissions"
        total="3000"
        
        ></app-card>
    </mat-card>
    
    <mat-card>
        <app-card
        bg="blue"
        icon="home"
        content="Placements"
        total="2000"></app-card>
    </mat-card>

    <mat-card>
        <app-card
        bg="orange"
        icon="person"
        content="students"
        total="3000"></app-card>
    </mat-card>

    <mat-card>
        <app-card
        bg="green"
        icon="group"
        content="Employees"
        total="200"
        ></app-card>
    </mat-card>
</div>


<!-- area chart -->
<div>
    <app-area-chart></app-area-chart>
</div>

<div id="parent">
    <!-- table -->
    <div>
        <app-table></app-table>
    </div>
    <!-- pie chart -->
    <div>
        <app-pie-chart></app-pie-chart>
    </div>
</div>